*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --app-width: 550px;
    --info-width: 480px;
    --input-height: 60px;
    --section-padding: 20px;
    --std-border-radius: 4px;
    --std-margin: 20px;
    --std-button-padding: 12px;
    --std-output-padding: 10px;
    --input-font-size: 40px;
    --subheading-font-size: 22px;

    --input-bg-color: #6943FF;
    --input-font-color: rgb(235, 233, 233);
    --input-border-color: #B295FF;
    --results-bg-color: #f4f4f4;
    --results-font-color: #353535;
    --subheading-color: #5A537B;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

/* PPLICATION CONTAINER */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--app-width);
    margin: var(--std-margin) auto;
    border: 4px solid var(--results-font-color);
}

/* TOP/INPUT HALF OF APP */
.top-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--input-bg-color);
    color: var(--input-font-color);
    padding: var(--section-padding);
    width: var(--app-width);
}

input {
    width: var(--info-width);
    height: var(--input-height);
    border: 2px solid var(--input-border-color);
    border-radius: var(--std-border-radius);
    background-color: var(--input-bg-color);
    margin-bottom: var(--std-margin);
    color: var(--input-font-color);
    font-size: var(--input-font-size);
    font-weight: bold;
    text-align: center;
}

button {
    border: none;
    padding: var(--std-button-padding) calc(var(--std-button-padding) * 1.5);
    border-radius: var(--std-border-radius);
    margin-bottom: var(--std-margin);
    cursor: pointer;
}

button:active {
    font-style: italic;
}

/* BOTTOM/OUTPUT HALF OF APP */
.bottom-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--results-bg-color);
    padding: var(--section-padding);
    width: var(--app-width);
}

.bottom-cont h2 {
    color: var(--subheading-color);
    font-size: var(--subheading-font-size);
}

.output {
    padding: var(--std-output-padding);
    text-align: center;
    background-color: var(--input-font-color);
    width: var(--info-width);
    margin-top: var(--std-margin);
    border-radius: var(--std-border-radius);
}

.output p {
    color: var(--results-font-color);
}